.nav {
    padding: 25px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav ul {
    list-style: none;
    float: right;
    margin-right: 150px;
}

.nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.lists a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #008B8B;
    font-size: 18px;
    border-radius: 10%;
    transition: text-shadow 0.3s, color 0.3s;
    position: relative;
}

.last1 {
    margin-right: 30px;
}

.last1 a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #008B8B;
    color: white;
    font-size: 18px;
    border-radius: 10%;
    position: relative;
}

.lists a:hover {
    text-shadow: 2px 2px 2px #87CEFA;
    color: #191970;
}

.logo img {
    margin-top: 25px; 
	margin-left: 150px;
} 
	
	.contact{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(ContactBG.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 95%;
        height: 580px;
        margin-left: 2.5%;
		margin-top:190px;
		margin-bottom: 60px;
    }
    form{
        background-color: rgba(14,100,180,0.3);
        width: 50%;
		height: 500px;
        margin: auto;
        position: relative;
        top: 40px;
        border: 3px solid #FFF8DC;
    }
    form h2, form p{
        text-align: center;
        color: #FFF8DC;
    }
    form h2{
        padding-top: 15px;
    }
    form p{
        padding-bottom: 15px;
    }
    .input1, .input2, .input3{
        background-color: rgba(32, 178, 170,0.3);
        border-radius: 5px 5px 0px 0px;
        border-bottom: 2px solid #FFF8DC;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        padding: 7px 10px;
        margin-left: 10%;
        margin-bottom: 20px;
        width: 450px;
		color: white;
    }
    .input4{
        padding: 10px;
        font-size: 18px;
        background-color: rgba(14, 87, 100, 0.8);
        color: #FFF8DC;
        border: 1.5px solid #FFF8DC;
        width: 100px;
        margin-bottom: 40px;
        margin-left: 40%;
    }
.input1::placeholder,
.input2::placeholder,
.input3::placeholder {
  color: white; 
}

