	.header {
      position: relative;
      height: 70vh;
      overflow: hidden;
	  margin-top: 21.2vh;
    }

    .headerVideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100%;
      object-fit: cover;
    }
	
	.title-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }

    .title {
      font-family: "Times New Roman", Serif;
      font-size: 36px;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
	.title-container p{
	  font-family: "Monaco", Monospace;
      font-size: 15px;
      font-weight: bold;
      color: #ffffff;
	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
	
.nav {
    padding: 25px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.nav ul {
    list-style: none;
    float: right;
    margin-right: 150px;
}

.nav ul li {
    display: inline-block;
    margin-right: 15px;
}

.lists a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #008B8B;
    font-size: 18px;
    border-radius: 10%;
    transition: text-shadow 0.3s, color 0.3s;
    position: relative;
}

.last1 {
    margin-right: 30px;
}

.last1 a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    background-color: #008B8B;
    color: white;
    font-size: 18px;
    border-radius: 10%;
    position: relative;
}

.lists a:hover {
    text-shadow: 2px 2px 2px #87CEFA;
    color: #191970;
}

.logo img {
    margin-top: 25px; 
	margin-left: 150px;
}

.main-content {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  color: black;
}

.content-container {
  max-width: 1000px;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-content {
  flex: 1;
  padding-right: 20px;
}

.text-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-content {
  flex: 1;
  text-align: right;
}

.image-content img {
  max-width: 10%;
  margin-top: -200px;
  margin-left: 30px;
}

.image-content1 {
  flex: 1;
  text-align: left;
}

.image-content1 img {
  max-width: 10%;
  margin-top: -200px;
}

.quote-container {
  background-image: url('p1.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-top: 30px;
}

.quote-icon {
  text-align: left;
}

.quote-icon i {
  font-size: 40px;
  color: white;
}

.quote-icon1 {
  text-align: right;
}

.quote-icon1 i {
  font-size: 40px;
  color: white;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  color: white;
  margin-top: 10px;
}
.blockquote1 {
  font-size: 18px;
  font-style: italic;
  text-align: right;
  color: white;
  margin-top: 10px;
}

    .head1{
        color: #191970;
		text-align: center;
		background-image: url("productsBG.jpg");
		background-size: cover;
	    background-position: center;
		margin-top: 120px;
        margin-bottom: -180px;
        text-shadow: 1px 1px 2px #191970;
        font-size: 30px;
    }
.products {
	display: flex;
	margin: 100px 0;
	background-image: url("productsBG.jpg");
	background-size: cover;
	background-position: center;
	padding: 100px 10%;
}
    .p1{
        color: #888;
        width: 70%;
        font-size: 22px;
        margin: auto;
    }
    .pro1, .pro3{
        background-color: rgba(169, 218, 255,0.5);
        width: 350px;
        margin-right: 25px;
		margin-top: 40px;
        border-radius: 8px;
        padding: 20px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;
    }
    .pro2, .pro4{
        background-color: #FFFACD;
        margin-right: 25px;
		margin-top: 40px;
        border-radius: 8px;
        width: 350px;
        padding: 20px;
        padding: 20px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;
    }
    .pro1 i{
        font-size: 45px;
        color: red;
        margin-left: 75px;
    }
	.pro3 i{
        font-size: 45px;
        color: gold;
        margin-left: 75px;
    }
	.pro2 i, .pro4 i{
        font-size: 45px;
        color: #4682B4;
        margin-left: 75px;
    }
    .pro1 h3, .pro2 h3, .pro3 h3, .pro4 h3{
        font-size: 25px;
		font-family: "Monaco", Monospace;
        color: black;
        padding: 10px 15px;
        text-align: center;
        transition: 3s;
        pointer-events: auto;
    }
    .pro1 p, .pro3 p, .pro2 p, .pro4 p{
        color: black;
        text-align: center;
        display: none;
		
    }

    .pro1:hover, .pro2:hover, .pro3:hover, .pro4:hover {
      height: 280px;
      display: block;
    }

    .pro1 h3:hover  + p , .pro2 h3:hover  + p, .pro3 h3:hover  + p, .pro4 h3:hover  + p {
      display: block;
    }
	
	

    .head2{
        color: black;
        margin-top: 120px;
        margin-left: 32%;
        margin-bottom: 60px;
		font-family: "Monaco", Monospace;
        font-size: 30px;
    }

.gallery video{
    width: 311.9px;
	height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery .div1,
.gallery .div2,
.gallery .div3,
.gallery .div4,
.gallery .div5,
.gallery .div6,
.gallery .div7,
.gallery .div8 {
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.gallery .video-link {
  position: relative;
  display: block;
}

.gallery .video-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery .video-link:hover:before {
  opacity: 1;
}

.gallery .video-link .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery .video-link:hover .title {
  opacity: 1;
}
	
    .end{
        width: 100%;
        background-image: url("footerBG.jpg");
	    background-size: cover;
	    background-position: center;
		margin-top: 30px;
    }
    .end123{
        display: flex;
    }
    .end ul li{
        list-style-type: none;
    }
    .end1 ul li a, .end1 ul li i{
        text-decoration: none;
        color: white;
        padding-bottom: 30px;
    }
	.footerLi p{
        color: white;
		font-family: "Georgia", Serif;
    }
	.footerLi1 p{
		font-family: "Copperplate", Fantasy;
        font-weight: bold;
        font-size: 20px;
		color: #87CEFA;
	}
	.footerSpecialLi p{
		color: #40E0D0;
		font-family: "Georgia", Serif;
	}
    .end1{
        margin-top: 120px;
		margin-left:50px;
    }
    .end2{
        margin-top: 50px;
		margin-left:50px;
    }
	.end4{
        margin-top: 50px;
    }
    .end3{
        margin-top: 50px;
    }
	.chartFooter ul li img{
		width: 270px;
		height: 150px;
		margin-top: 30px;
	}
	.chartFooter p{
		margin-top: 70px;
	}
    .lastIcons{
        position: relative;
        bottom: 30px;
        margin-left: 38%;
        margin-top: 70px;
    }
    .lastIcons i{
        font-size: 30px;
        padding: 5px;
    }
    .lI1, .lI2, .lI3, .lI4, .lI5{
        color: #FAFAD2;
    }
	
	